export(checkModel)
export(doHB)
export(hb)
export(nextA)
export(nextB)
export(nextD)
export(nextDind)
export(nextF)
export(plotA)
export(plotF)
export(plotLog)
export(prepareModel)
export(trans)
export(vech)
export(writeLog)
export(xpnd)
useDynLib(RSGHB)