import(methods)
importFrom("graphics", "axis", "mtext", "par", "plot", "points", "segments")
importFrom("grDevices", "dev.flush", "graphics.off", "rainbow")
importFrom("stats", "aggregate", "complete.cases", "density", "rnorm", "runif", "var","quantile","sd")
importFrom("utils", "write.table")
importFrom("MCMCpack","rinvgamma","riwish")
export(doHB)
export(writeModel)
S3method(plot,    RSGHB)
S3method(print,   RSGHB)
S3method(summary, RSGHB)
useDynLib(RSGHB, .registration = TRUE)
